@import "_vars"

@import "_mixins/font-face"

+font-face("Roboto", "../fonts/RobotoRegular/RobotoRegular")
+font-face("Roboto-bold", "../fonts/RobotoBold/RobotoBold", bold)
+font-face("Roboto-medium", "../fonts/RobotoMedium/RobotoMedium", 400)
+font-face("Roboto-light", "../fonts/RobotoLight/RobotoLight", 300)

*
	margin: 0
	padding: 0
	text-decoration: none
	list-style-type: none
	box-sizing: border-box
	// border: 1px solid black

body
	font-family: $defaul-font
	background: #F4F4F4
	position: relative
	line-height: 1.75
	width: 100%
	opacity: 1
	overflow-x: hidden
	padding: 0