.footer
	width: 100%
	height: 135px
	background: $second-font-color

	.footer-container
		font-size: $second-font-size
		height: 100%
		margin: 0 auto
		max-width: 1024px
		display: flex
		color: white
		flex-direction: row
		justify-content: center
		align-self: center
		align-items: center
		@media screen and (max-width: 1024px)
			max-width: 768px
		@media screen and (max-width: 768px)
			max-width: 320px