.main-header
	background: $blue
	color: $first-font-color

	.header-container
		margin: 0 auto
		max-width: 1024px
		height: 70px
		display: flex
		color: white
		flex-direction: row
		justify-content: space-between
		align-items: center
		@media screen and (max-width: 1024px)
			max-width: 768px
		@media screen and (max-width: 768px)
			max-width: $third-width

		.logo-container
			display: flex
			flex-basis: 218px + 124px
			height: 100%
			@media screen and (max-width: 768px)
				flex-basis: 0
				margin-left: 20px

			.logo
				flex-basis: 218px
				display: flex
				justify-content: center
				align-items: center
				h1
					font-size: $first-font-size
					font-family: $defaul-font

			.dogs
				display: flex
				flex-grow: 1
				justify-content: center
				align-items: center
				@media screen and (max-width: 768px)
					display: none

				h2
					font-size: $third-font-size
					font-family: $defaul-font

			.dogs:hover
				background-color: $second-blue
				cursor: pointer

		.find
			flex-basis: 330px
			border-radius: 10px
			outline: 0;
			padding: 8px 17px
			font-size: $third-font-size
			font-family: $defaul-font
			border: none;
			@media screen and (max-width: 1024px)
				max-width: 266px
			@media screen and (max-width: 768px)
				display: none

		.profile
			display: flex
			justify-content: flex-end
			align-items: center
			@media screen and (max-width: 1024px)
				margin-right: 30px
			@media screen and (max-width: 768px)
				display: none
			.user
				margin: 0 30px 0 10px
				font-size: $third-font-size
				font-family: $defaul-font
				text-decoration: none
				color: inherit
				@media screen and (max-width: 1024px)
					display: none


		.mobile-nav-open
			display: none
			margin-right: 20px
			font-size: 30px

			@media screen and (max-width: 768px)
				display: block


