.home
	max-width: 1024px
	margin: 0 auto
	display: flex
	flex-direction: row
	align-items: stretch
	@media screen and (max-width: 1024px)
		max-width: 768px
	@media screen and (max-width: 768px)
		max-width: $third-width
		justify-content: center

	.header-widgets
		margin-bottom: 40px
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		align-self:center
		line-height: 1
		@media screen and (max-width: 768px)
			margin-bottom: 20px

		.buttons
			width: 20px * 2 + 30px
			display: flex
			justify-content: space-between
			align-items: center
			@media screen and (max-width: 768px)
				flex-direction: column
				width: 32.45px

		.next-btn, .prev-btn
			width: 20px
			background: none
			outline: none;
			text-decoration: none;
			border: 0;
			padding: 0;
			@media screen and (max-width: 768px)
				transform: rotate(90deg)

		.next-btn img
			width: 100%

		.prev-btn img
			width: 100%

		.next-btn :active
			transform: scale(0.89)

		.prev-btn :active
			transform: scale(0.89)

	.main
		min-width: 1024px - 218px
		display: flex
		flex-direction: column
		justify-content: space-around
		padding: 40px 30px
		background: #F0F0F0
		@media screen and (max-width: 1024px)
			min-width: 768px - 218px
		@media screen and (max-width: 768px)
			min-width: 320px
			padding: 0 20px

		.widgets
			width: 100%
			h2
				font-size: $second-font-size
				font-family: $defaul-font-bold
				color: $second-font-color

			@media screen and (max-width: 768px)
				margin: 0

			.rendered-widgets
				overflow: hidden
				height: 186px
				display: flex
				justify-content: flex-start
				align-items: center
				align-self:center
				@media screen and (max-width: 768px)
					height: 482.9px
					flex-direction: column

				.widget-enter
					position: relative
					min-width: 0
					max-width: 0
					min-height: 186px
					max-height: 186px
					margin: 0
					transition-property: all
					transition-duration: 1s
					@media screen and (max-width: 768px)
						margin: 0
						min-height: 0
						max-height: 0
						min-width: 280px
						max-width: 280px

						img
							width: 100%

				.widget-enter-add
					min-width: 225px !important
					max-width: 225px !important
					margin: 0 32.5px 0 0 !important
					@media screen and (max-width: 768px)
						min-width: 280px !important
						max-width: 280px !important
						min-height: 231.45px !important
						max-height: 231.45px !important
						margin: 0 0 20px 0 !important


				.widget-enter-leave
					min-width: 0 !important
					max-width: 0 !important
					margin: 0 !important
					@media screen and (max-width: 768px)
						min-width: 280px !important
						max-width: 280px !important
						min-height: 0 !important
						max-height: 0 !important
						margin: 0 !important

				.img-enter
					position: absolute
					right: 0
					opacity: 0
					transition-property: all
					transition-duration: 1s

				.img-enter-add
					opacity: 1
					transition-property: all
					transition-duration: 1s

				.img-enter-leave
					transform: translateX(-32.5px)
					opacity: 0
					transition-property: all
					transition-duration: 1s
					@media screen and (max-width: 768px)
						transform: translateY(-20px - 231.45px)


			.images
				display: flex
				flex-direction: row
				justify-content: space-around
				align-items: center

				.img
					background: black
					margin: 10px
					flex-basis: 20%

		.second-row
			display: flex
			flex-direction: column
			width: 100%
			margin: 40px 0
			@media screen and (max-width: 768px)
				margin: 20px 0

			h2
				font-size: $second-font-size
				font-family: $defaul-font-bold
				color: $second-font-color
				line-height: 1

			.container-second-row
				width: 100%
				background: $blue
				display: flex
				flex-direction: column
				justify-content: space-around
				align-items: center
				height: 200px
				margin: 40px 0 0 0
				@media screen and (max-width: 768px)
					margin: 20px 0 0 0

				button
					width: 346px
					height: 80px
					border-radius: 40px
					font-size: $third-font-size
					font-family: $defaul-font-bold
					color: $second-font-color
					background: white
					outline: none;
					border: none;
					@media screen and (max-width: 768px)
						width: 240px

				h3
					color: white
					font-size: $second-font-size
					font-family: $defaul-font-bold
					color: $first-font-color

		.widgets-2
			display: flex
			flex-direction: column
			h2
				margin-bottom: 40px
				font-size: $second-font-size
				font-family: $defaul-font-bold
				color: $second-font-color
				line-height: 1
				@media screen and (max-width: 768px)
					margin-bottom: 20px
			.images
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				@media screen and (max-width: 768px)
					flex-direction: column

				.img
					background: $grey
					width: 125px
					height: 110px
					@media screen and (max-width: 1024px)
						width: 143px
						height: 130px
					@media screen and (max-width: 768px)
						width: 280px
						height: 186px
						margin-bottom: 20px


	.sidebar
		padding: 40px 0 0 30px
		display: flex
		flex-direction: column
		min-width: 218px
		background-color: #FFF

		@media screen and (max-width: 768px)
			display: none

		.time-container
			font-size: $second-font-size
			font-family: $defaul-font
			color: $second-font-color
			line-height: 1.1
