.mobile-nav

	.nav-list-enter
		display: none
		color: $first-font-color
		max-width: 320px
		margin: 0 auto

		li
			margin: 25px 20px

	.nav-list-enter-add
		display: block !important

.nav-enter
	position: fixed
	width: 100%
	height: 0
	background: #2E4099
	transition-property: height
	transition-duration: 1s
	z-index: 1

.nav-enter-add
	height: 100vh
	z-index: 1;
	transition-property: height
	transition-duration: 1s



