<header class="main-header">
	<div class="header-container">
		<div class="logo-container">
		<div class="logo">
			<h1>СОБАКА</h1>
		</div>
		<div class="dogs"><h2>Щенки</h2></div>
		</div>
		<input class="find" placeholder="Поиск?"></input>
		<div class="fa fa-bars mobile-nav-open" aria-hidden="true">

		</div>
		<div class="profile">
			<img src="img/profile-img.png">
			<a class="user" href="#">Василий Например</a>
		</div>
	</div>
</header>